################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Client/bin
/Client/obj
*.user
*.log
/Server/bin
/Server/obj
