################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
*.log
/Client/bin
/Client/obj
/Server/bin
/Server/obj
*.user
